*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.box{
        background-color: blueviolet;

}

.nav{

    margin: 100px 0px;
    width: 100%;
    height: 50px;
    display: flex;
    /* margin: 0 200px; */
    justify-content: center;

}

.nav span{
    font-weight: bold;
    font-size: larger;
    display: flex;
    padding: 0 20px;
    margin: 0 0 ;
    
    
    justify-content: center;
    align-items: center;
    position: relative;
   
}


.navfirst span:after{
    content: '';
    /* border-bottom: 2px solid; */
    position: absolute;
    background-color: rgb(72, 91, 108);
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    margin-bottom: 10px;
     transition: all 0.5s ease-in-out;
}

.navfirst span:hover:after{
    
    width: 100%;
}

.navsecond span{

z-index: 1;

}


.navsecond span:after{
    content: '';
    /* border-bottom: 2px solid; */
    position: absolute;
    background-color: rgb(183, 198, 210);
    left: 0;
    bottom: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    /* margin-bottom: 10px; */
     transition: all 0.5s ease-in-out;
}

.navsecond span:hover:after{
    
    width: 100%;
}


.navthird span:before{
    content: '';
    
    position: absolute;
    
    /* top: 20%; */
    bottom: 0;
    width: 100%; 
   
    z-index: -1;
     transition: all 0.5s ease-in-out;
}

.navthird span{

    z-index: 7;
    
    }
.navthird span:hover:before{
    /* top: 80%; */
    border-top: 4px solid yellow;
    bottom: 80%;
}

.navthird span::after{
    content: '';
    
    position: absolute;
    
    top: 20%;
    
    width: 100%; 
   
    z-index: -1;
     transition: all 0.5s ease-in-out 0.5s;
}

.navthird span:hover::after{
    top: 80%;
    border-top: 4px solid yellow;
    
}


